* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top ;
  width: 100%;
  min-height: 100vh;
}

